# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\alipi\Desktop\MIEIC\2 Ano\2 Semestre\Sistemas Operativos\MP1\SOPE_MP1\.idea/dataSources/
/dataSources.local.xml
